<div class="row">
  <div class="col col-12">
    <h1>Person's Social Network</h1>
  </div>
</div>

<div class="row gutters auto">
  <div class="col col-8 offset-1">
    <form method="get" action="#" class="form" id="socialNetworkForm">

      <div class="form-item">
        <label>Query</label>
        <input type="text" name="query" placeholder="Name, Company, or something else" class="w50">
      </div>

      <div class="form-item">
        <button>Retrieve People</button>
      </div>
    </form>
  </div>

  <div class="col col-8 offset-1">
    <div id="responseContainer">
      &nbsp;
    </div>
  </div>
</div>
